target/
.idea/
/datastructures.iml
/src/main/java/io/dev/v2/fb/
/snip/
/**/lc100/**
/src/main/java/io/dev/v2/practice/
/src/main/java/io/dev/v2/dev/patterns/
/src/main/java/io/dev/v2/dev/usage/functional/
/arc/
